{% extends 'base.html' %}

{% block content %}
<div class="box">
    <div class="title-container">
        <div class="title">Project 2</div>
    </div>
    <div class="main-text">
        <form method="get">
            <label for="lambda_">lambda = {{ lambda_ }}</label>
            <input type="range" id="lambda_" name="lambda_" min="0" max="0.2" step="0.005" value="{{ lambda_ }}" onchange="this.form.submit()">
        </form>
        <p>Decision Tree Visualization:</p>
        <a href="{{ image_url }}" target="_blank">
        <img src="{{ image_url }}" alt="Decision Tree">
        </a>
        <p>Classification Report:</p>
        <pre>{{ report }}</pre>
        <p>Confusion Matrix (Rows = True class, Columns = Predicted class):</p>
        {{ conf_matrix_table|safe }}
        <p>Test accuracy: {{ accuracy }}</p>
        <p>Number of leaves: {{ n_leaves }}</p>
        <div class="button-container">
            <a href="{% url 'home:index' %}">
                <button type="button">Return to Homepage</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}
