{% extends 'base.html' %}

{% block content %}
<div class="box">
    <div class="title-container">
        <div class="title">Project 1</div>
    </div>
    <div class="main-text">
        <p>Please start with uploading a CSV file.</p>

        <div class="button-container">
            <form action="{% url 'project1:upload_csv' %}" method="get">
                <button type="submit">Upload the csv file</button>
            </form>
        </div>

        <div class="button-container">
            <a href="{% url 'home:index' %}">
                <button type="button">Return to Homepage</button>
            </a>
        </div>
    </div>

    
</div>
{% endblock %}
